body,
html {
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: rgb(194, 186, 186);
    border: 1px solid rgb(63, 59, 59);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 74px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-info {
    margin-left: 20px;
}